<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blogly App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1>Blogly Users</h1>
            <nav>
                <a href="{{ url_for('list_users') }}" class="btn btn-primary">Home</a>
                <a href="{{ url_for('new_user') }}" class="btn btn-success">Add User</a>
            </nav>
        </header>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>

<!-- <a href="/users/new" class="btn btn-success">Add User</a> -->